#header {
  position: sticky;
  top: 0;
}

.message {
  background-color: darkorange;
  color: white;
  padding: 3px;
}
.message.error {
  background-color: red;
}

#music {
  padding: 3px;
  background-color: black;
  display: none; /* initially hidden */
}
#music > .info {
  color: white;
  overflow-wrap: break-word;
}
#music > .controls {
  display: flex;
  flex-wrap: wrap;
}

#top {
  background-color: aquamarine;
  padding: 2px;
}

.option {
  padding-top: 2px;
}

.song {
  color: green;
}

.file {
  margin-top: 8px;
}

.hidden {
  display: none;
}

button {
  padding: 10px;
  border: none;
}
