#header {
  position: sticky;
  top: 0;
}

#error {
  background-color: red;
  color: white;
  padding: 3px;
  display: none; /* initially hidden */
  /* define overflow so the floating button stays in the div
  https://stackoverflow.com/q/16041229 */
  overflow: hidden;
}

#music {
  padding: 3px;
  background-color: black;
  display: none; /* initially hidden */
}
#music > .info {
  color: white;
}
#music > .controls {
  display: flex;
  flex-wrap: wrap;
}

.song {
  color: green;
}

.file {
  margin-top: 8px;
}

button {
  padding: 10px;
  border: none;
}
